.App {
  text-align: center;
  background-color:gray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:lightgray;
  padding: 20px;
  border-radius: 4px;
  font-family:cursive;
  font-weight: bolder;
  border-radius: 20px;
}

.modal-content {
  margin-bottom: 20px;
}
.imgcards{
     border-image-outset: 10px;
     font-family:sans-serif;
     font-size: 15px;
     
}
.button1{
  background-color: whitesmoke;
  border-color: rgb(24, 24, 179);
  font-family: monospace;
  font-weight: bolder;
  padding: 6px 10px;
  border-radius: 16px;
  font-size: large;
  flex-direction: center;
  margin: 6px 4px;
  cursor: pointer;

}
.button1:hover{
  background-color:#5E5A80;
  color: white;

}
.cards{
  background-color: lightgray;
}
.cards:hover{
     background-color: #1589ff;
}
*{
  margin: 0;
  padding: 0;
}